body {
  background-image: url(moroccan-flower.png);
  max-width: 960px;
  margin: 0 auto;
}

header img {
  height: 100px;
}
header {
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 50px;
}
header a:hover {
  text-decoration: underline;
}
main {
  background-color: white;
  display: flex;
  padding: 20px;
  text-align: right;
}
main section :not(a) {
  text-align: justify;
}
section:first-child {
  flex: 2;
  padding-right: 0.5rem;
}
section:last-child {
  flex: 3;
  padding-left: 0.5rem;
}
section:last-child img {
  height: 100px;
  float: left;
  margin: 0 20px;
}
footer {
  color: rgb(139, 115, 115);
  text-align: center;
  padding: 10px 0;
}
.button {
  background-color: greenyellow;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}
p {
  padding: 10px 10px;
}
